header{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
}
nav ul{
    display: flex;
    gap:25px;
    flex-wrap: wrap;
}
.logo-icon{
    display: flex;
    align-items: center;
    gap:2px;
}
.logo-icon i{
    font-size:25px;
    color:rgb(45, 157, 4);
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.bm{
    background-image: url(images/hero-bg.jpg);
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 1rem;
}
.b1{
    padding: 140px;
}
.b1 h1{
color: white;
font-weight: bold;
line-height: 3rem;
}
strong{
    color: forestgreen;
}
.b1 p{
    color: white;
    line-height: 1.5rem;
}
.s1{
    background-color: white;
    box-shadow: 5px 5px 10px 2px rgb(0 0 0 / .8);
    margin: auto;
    max-width: fit-content;
    border-radius: 1rem;
    margin-top: -40px;
    padding: 15px;
}
@media(max-width: 846px){
    .s1{
        display:flex;
        flex-direction: column;
    }
    .s1 .ul-1{
        flex-direction: column;
    }
    .YOUTUBE-VIDEO{
        margin-bottom: 15%;
        padding: 0% !important;
    }
    .YOUTUBE-VIDEO iframe{
        width:300px;
        height: 500px;
        margin-left: 10%;
        margin-right: 2%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}
.s1 .ul-1{
    display: flex;
    list-style: none;
    gap: 2rem;
    justify-content: space-around;
    margin-bottom: 2rem;
}
.s1-min{
    margin-top: -20px;
}
.s1-min  select{
    background-color: white;
    font-weight: bold;
    height: 30px;
    width: 170px;
    margin: auto;
    border-radius: 0.3rem;
    border: 2px  solid gainsboro;
    cursor: pointer;
}
#a1{
    margin-right: 70px;
}
#a2{
    margin-right: 35px;
}
.s1-min input{
    margin-right: 20px;
    margin-left: -5px;
    width: 170px;
    border-radius: 0.3rem;
    height: 30px;
    border: 2px  solid gainsboro;
    padding: 10px;
    cursor: pointer;
}
.s1 button{
    height: 30px;
    width: 170px;
    background-color: forestgreen;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.3rem;
    margin-top: 2%;
}
.YOUTUBE-VIDEO{
    display: flex;
    flex-wrap: wrap;
    margin-inline: auto;
    padding: 100px;
}
.vid{
    margin-right: 5rem;
    cursor: pointer;
    text-align: left;
}
.vid iframe{
    border-radius: 1rem;
}
.p1{
    margin: auto;
    text-align: center;
}
.p1 h2{
    line-height: 2rem;
}
.p1 p{
    color: grey;
    line-height: 1.4rem;
    padding-bottom: 15px;
}
.p1 a{
text-decoration: none;
background-color: forestgreen;
color: white;
border-radius: 0.5rem;
border: none;
cursor: pointer;
padding: 15px;
}

.q1 p{
    color: grey;
    text-align: center;
}
.q1 h2{
    text-align: center;
}
.fm{
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
    padding-bottom: 70px;
}
.f1{
    margin: auto;
}
.f2{
    margin: auto;
}
.f2 svg{
    margin-inline: 38%;
    margin-bottom: 5px;
}
.f3 svg{
    margin-inline: 38%;
    margin-bottom: 5px;
}
.f1 svg{
    margin-inline: 38%;
    margin-bottom: 5px;
}
.f3{
    margin: auto;
}
.f1 h3{
text-align: center;
}
.f1 p{
    text-align: center;
    color: grey;
}
.f2 h3{
    text-align: center;
}
.f2 p{
    text-align: center;
    color: grey;
}
.f3 h3{
    text-align: center;
}
.f3 p{
    text-align: center;
    color: grey;
}
.q2 p{
    color: grey;
    text-align: center;
}
.q2 h2{
    text-align: center;
}